:root {
  color-scheme: dark;
  --clr-bg: #1d1e24;
  --clr-text-primary: #fff;
  --clr-text-secondary: #000;
  --clr-accent: #5a5e66;
  --clr-bg-bento-dark: #30333a;
  --clr-bg-bento-light: #8d99ae;

  --bento-border-radius: 28px;
  --bento-gap: 16px;

  --content-max-width: 1000px;
}

/* ======================== Resume ===========================*/

.resume {
  padding: 2rem 3rem 6rem 3rem;
  align-content: center;

  @media (max-width: 780px) {
    & {
      padding-inline: 1rem;
    }
  }
}

.resume-content {
  position: relative;
  z-index: 2;
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  border-radius: var(--bento-border-radius);
  background-color: var(--clr-bg-bento-dark);
  height: 1000px;
}
