:root {
    --clr-bg: #101119;
    --clr-text-primary: #fff;
    --clr-text-secondary: #000;
    --clr-accent: #5A5E66;
    --clr-bg-bento-dark: #222730;
    --clr-bg-bento-light: #8D99AE;

    --bento-border-radius: 32px;
    --bento-gap: 18px;

    --content-max-width: 1000px;
}

::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #fff;
}

body {
    background-color: var(--clr-bg, black);
}

.spacer {
    height: 30dvh;
}

.content {
    max-width: 2000px;
    margin: 0 auto;
}

.header-logo {
    width: calc(100% - 90px);
    position: fixed;
    top: 50px;
    left: 48px;
    margin-top: 50px;
    transition: all 0.8s ease-in-out;
}

.header-logo-shrinked {
    width: 150px;
    position: fixed;
    top: 40px;
    left: 48px;
    transition: all 0.4s ease-in-out;
}

header {
    position: fixed;
    top: 40px;
    right: 48px;
    width: 300px;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul[data-visible="true"] {
    transform: translateX(0%);
}

.nav-toggle {
    display: none;
}

.menu-link {
    list-style-type: none;
}

.menu-link a {
    color: var(--clr-text-primary, white);
    text-decoration: none;
    
}

header ul {
    font-size: 18px;
    font-weight: 700;
}

.inactive-link a {
    color: var(--clr-bg-bento-light);
    transition: all 0.5s ease;
}

.inactive-link a:hover {
    color: var(--clr-text-primary);
    transition: all 0.5s ease;
}


svg {
    width: 100%;
    height: auto;
}

.hero {
    height: 70dvh;
    padding: 0 3rem 2rem 3rem;
    display: flex;
    align-items: end;
}

.hero-content {
    display: flex;
    gap: 5%;
    align-items: center;
}

.hero-image {
    width: 200px;
    background-color: var(--clr-accent);
    border-radius: 50%;
    aspect-ratio: 1;
}

.hero-text {
    width: 80%;
}

.hero-text p {
    font-size: clamp(32px, 5vw, 54px);
    font-weight: 500;

}

.hero-text p span {
    color: var(--clr-accent);
}


@media (max-width: 780px) {
    .hero {
        padding: 2rem 1rem;
    }


    .hero-content {
        flex-wrap: wrap;
        gap: 30px;
    }

    .hero-text {
        width: 100%;
    }

    .header-logo {
        height: 50px;
        position: fixed;
        top: 2rem;
        left: 1rem;
        margin: 0;
        display: flex;
    }

    .header-logo svg {
        width: 150px;
        align-content: center;
    }

    header ul {
        position: fixed;
        inset: 0 0 0 0;
        background-color: var(--clr-accent);
        z-index: 998;
        flex-direction: column;
        padding: 32px 20px;
        justify-content: end;
        gap: 20px;
        font-size: 54px;
        font-weight: 500;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    header {
        top: 2rem;
        right: 2rem;
    }

    .nav-toggle {
        display: block;
        position: fixed;
        z-index: 999;
        background-color: transparent;
        top: 2rem;
        right: 1rem;
        font-size: 16px;
        height: 50px;
        padding: 0 30px;
        border-radius: 32px;
        border: var(--clr-text-primary) 1px solid;
    }
}



/* about section*/

.about {
    height: 100dvh;
    padding: 2rem 3rem 2rem 3rem;
    align-content: center;
}

.about-content {
    max-height: 680px;
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    gap: var(--bento-gap);
}

.about-content div {
    border-radius: var(--bento-border-radius);
}

.about-content > .left-col {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
    gap: var(--bento-gap);
}

.about-content > .left-col > .row-1 {
    flex-grow: 3;
    display: flex;
    gap: var(--bento-gap);
}

.about-content > .left-col > .row-1 > .left-col {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg-bento-dark);
    padding: 2rem 1.5rem;
    gap: 10px;
    flex-basis: 300;
    

    p {
        font-size: clamp(24px, 2vw, 24px);
        font-weight: 500;
    }

    span {
        color: var(--clr-bg-bento-light);
    }

    img {
        aspect-ratio: 1;
        width: clamp(60px, 9vw, 90px);
    }

    @media (max-width: 780px) {
        flex-direction: row;
    }
}



.about-content > .left-col > .row-1 > .right-col {
    flex-grow: 5;
    display: flex;
    gap: var(--bento-gap);
    flex-direction: column;

    @media (max-width: 780px) {
        flex-direction: row;
    }
}

.about-content > .left-col > .row-1 > .right-col > .row-1 {
    flex-grow: 1;
    display: flex;
    background-color: var(--clr-bg-bento-dark);
    align-items: center;
    justify-content: space-around;
    gap: 3vw;
    flex-wrap: nowrap;
    padding: 0.5rem 2.5vw;

    p {
        font-size: clamp(16px, 2vw, 24px);
        font-weight: 600;
        white-space: nowrap;
    }

    img {
        aspect-ratio: 1;
        width: clamp(30px, 10vw, 55px);
    }
}

.about-content > .left-col > .row-1 > .right-col > .row-2 {
    flex-grow: 2;
    display: flex;
    background-color: var(--clr-bg-bento-light);
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0.5rem 2.5vw;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.about-content > .left-col > .row-1 > .right-col > .row-2 p {
    font-size: clamp(28px, 4vw, 58px);
    color: var(--clr-text-secondary);
    font-weight: 700;
}

.about-content > .left-col > .row-2 {
    flex-grow: 1;
    display: flex;
    gap: var(--bento-gap);
    height: 100px;
}

.about-content > .left-col > .row-2 > .left-col {
    flex-grow: 6;
    display: flex;
    background-color: var(--clr-bg-bento-dark);
}

.about-content > .left-col > .row-2 > .right-col {
    flex-grow: 2;
    display: flex;
    background-color: var(--clr-bg-bento-dark);
}

.about-content > .right-col {
    display: flex;
    flex-grow: 2;
    gap: var(--bento-gap);
    flex-direction: column;

    @media (max-width: 780px) {
        flex-direction: row;
    }
}

.about-content > .right-col > .row-1 {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    flex-grow: 2;
    gap: 7px;
    background-color: var(--clr-bg-bento-dark);

    h2 {
        font-size: 30px;
        font-weight: 600;
        white-space: nowrap;
    }

    p {
        font-size: 24px;
        font-weight: 600;
    }

    p > span {
        color: var(--clr-bg-bento-light);
    }

    p > span > span {
        display: inline-block;
        width: 28px;
        background-color: var(--clr-bg-bento-light);
        border-radius: 50%;
        align-content: center;
        text-align: center;
    }

    span img {
        transform: rotate(-135deg);
    }
}

.about-content > .right-col > .row-2 {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background-color: var(--clr-bg-bento-dark);
    gap: 7px;

    h2 {
        font-size: 30px;
        font-weight: 600;
    }

    p {
        font-size: 30px;
        font-weight: 600;
        color: var(--clr-bg-bento-light);
    }
}


@media (max-width: 780px) {
    .about {
        height: fit-content;
        padding: 2rem 1em;
    }

    .about-content {
        max-height: none;
    }

    .about-content, .about-content * {
        flex-wrap: wrap;
    }

    .about-content > .left-col > .row-1 > .right-col {
        order: 1;
    }

    .about-content > .left-col > .row-1 > .left-col {
        order: 2;
    }

    .about-content > .left-col > .row-1 > .right-col > .row-2 {
        order: 1;
    }

    .about-content > .left-col > .row-1 > .right-col > .row-1 {
        order: 2;
    }
}


/* portfolio section */


.portfolio {
    height: 100dvh;
    padding: 2rem 3rem 2rem 3rem;
    align-content: center;
}

@media (max-width: 780px) {
    .portfolio {
        height: fit-content;
        padding: 2rem 1em;
    }
}

.portfolio-content {
    max-height: 680px;
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    gap: var(--bento-gap);
    flex-wrap: wrap;

    @media (max-width: 780px) {
        max-height: none;
    }
}

.portfolio-content .left-col, .portfolio-content .right-col {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--clr-bg-bento-dark);
    border-radius: var(--bento-border-radius);
    justify-content: space-between;
    padding: 3rem 2rem;

    > p {
        font-size: clamp(32px, 5vw, 54px);
        font-weight: 700;
    }

    @media (max-width: 780px) {
        padding: 2rem 1.5rem;
        min-width: 300px;
    }
}



.portfolio-content .button {
    display: flex;
    align-self: center;
    background-color: var(--clr-accent);
    border-radius: 38px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-block: 12px;
    cursor: pointer;
    margin-top: 100px;

    p {
        font-size: clamp(16px, 3vw, 32px);
        font-weight: 500;
    }

    .arrow {
        background-color: var(--clr-bg-bento-light);
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
    }

    img {
        width: clamp(12px, 1.5vw, 25px);
        transition: all 0.2s ease;
    }
}

.portfolio-content .button:hover img {
    transform: rotate(-90deg);
    transition: all 0.2s ease;
}



/* contact section */

.contact {
    height: 100dvh;
    padding: 2rem 3rem 2rem 3rem;
    align-content: center;

    @media (max-width: 780px) {
        height: fit-content;
        padding: 2rem 1em;
    }
}

.contact-content {
    max-height: 600px;
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    gap: var(--bento-gap);

    @media (max-width: 780px) {
        flex-wrap: wrap;
        max-height: none;
    }
}

.contact-content > .left-col {
    background-color: var(--clr-bg-bento-dark);
    border-radius: var(--bento-border-radius);
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 3rem 2rem;

    img {
        width: 130px;
    }

    h2 {
        font-size: clamp(32px, 5vw, 54px);
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    p {
        color: var(--clr-bg-bento-light);
        font-size: 28px;
        font-weight: 500;
    }

    @media (max-width: 780px) {
        flex-basis: 100%;
    }

}

.contact-content > .right-col {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: var(--bento-gap);

    @media (max-width: 780px) {
        flex-basis: 100%;
    }
}

.contact-content > .right-col > .row-1 {
    background-color: var(--clr-bg-bento-light);
    border-radius: var(--bento-border-radius);
    gap: var(--bento-gap);
    flex-basis: 75%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h3 {
        color: var(--clr-bg-bento-dark);
        font-size: clamp(32px, 5vw, 54px);
        font-weight: 700;
    }

    .row-1 {
        width: 100%;
        display: flex;
        gap: 10px;

        @media (max-width: 780px) {
            flex-wrap: wrap;
        }
    }

    .row-2 {
        display: flex;
        gap: 10px;

        @media (max-width: 780px) {
            flex-wrap: wrap;
        }
    }

    .row-1 > [type="text"], input[type="email"] {
        background-color: transparent;
        border: 5px solid var(--clr-bg-bento-dark);
        border-radius: 18px;
        flex-grow: 1;
        height: 45px;
        padding-inline: 10px;
        color: var(--clr-bg-bento-dark);
    }

    textarea {
        background-color: transparent;
        border: 5px solid var(--clr-bg-bento-dark);
        border-radius: 18px;
        flex-grow: 4;
        resize: none;
        height: 90px;
        padding-inline: 10px;
        padding-block: 10px;
        color: var(--clr-bg-bento-dark);
        overflow: scroll;

        @media (max-width: 780px) {
            
        }
    }

    input[type="submit"] {
        height: 90px;
        background-color: var(--clr-bg-bento-dark);
        border: 5px solid var(--clr-bg-bento-dark);
        font-size: 48px;
        color: var(--clr-accent);
        flex-grow: 1;
        font-weight: 700;
        border-radius: 18px;
        width: 25%;
    }
}

.contact-content > .right-col > .row-2 {
    display: flex;
    flex-basis: 25%;
    gap: var(--bento-gap);

    div {
        flex-basis: 33%;
        background-color: var(--clr-bg-bento-dark);
        border-radius: var(--bento-border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 90px;

        @media (max-width: 780px) {
            width: 60px;
            padding-block: 20px;
        }
    }
}

