:root {
  color-scheme: dark;
  --clr-bg: #1d1e24;
  --clr-text-primary: #fff;
  --clr-text-secondary: #000;
  --clr-bg-bento-dark: #30333a;
  --clr-bg-bento-light: #8d99ae;
  --clr-accent: #5a5e66;
  --clr-accent-2: #5e4ae3;

  --bento-border-radius: 28px;
  --bento-gap: 16px;

  --content-max-width: 1000px;
}

::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--clr-text-primary);
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--clr-bg-bento-light);
}

.content {
  margin: 0 auto;
  padding-top: 30vh;
  padding-top: 30svh;
  background-color: var(--clr-bg);
  border-radius: 0 0 32px 32px;
  position: relative;
  z-index: 2;
  width: 100vw;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  & .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/noise.png);
  }
}

.bento-item {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.magnetic {
  transition: all 0.1s ease;
  margin: -100px;
  display: inline-block;
  padding: 100px;
}

/*=========================== cursor ==========================*/

.cursor-text {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
  color: var(--clr-text-secondary);
  transition: all 0.08s ease;
}

.cursor {
  position: fixed;
  z-index: 9998;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: var(--clr-text-primary);
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
  transition: all 0.1s ease, background-color 0.5s, width 0.5s, height 0.5s;
}

.cursor.hover {
  width: 70px;
  height: 70px;
  background-color: var(--clr-text-primary);
  opacity: 0.5;
  transition: all 0.1s ease;
  border: none;
}

.cursor.hover-input {
  width: 80px;
  height: 80px;
  background-color: var(--clr-accent);
  opacity: 0.5;
  transition: all 0.1s ease;
  border: none;
  align-content: center;
  text-align: center;
}

.cursor.hover-link {
  width: 70px;
  height: 70px;
  background-color: var(--clr-text-primary);
  opacity: 0.5;
  align-content: center;
  text-align: center;
}

.cursor.hover-invert {
  width: 150px;
  height: 150px;
  mix-blend-mode: difference;
  background-color: var(--clr-text-primary);
  border: none;
  transition: all 0.1s, width 0.5s, height 0.5s;
}

.cursor.hover-project {
  width: 75px;
  height: 75px;
  opacity: 1;
  border: none;
  background-color: var(--clr-accent-2);
  transition: all 0.1s;
}

/*==================== Header section ========================*/

.header-logo {
  width: calc(100% - 90px);
  position: fixed;
  top: 40px;
  left: 48px;
  margin-top: 50px;
  transition: all 0.8s ease-in-out;
  z-index: 999;
}

.header-logo-shrinked {
  position: fixed;
  width: 150px;
  left: 48px;
  top: 40px;
  margin-top: 0;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

header {
  position: fixed;
  top: 40px;
  right: 48px;
  width: 300px;
  z-index: 999;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul[data-visible="true"] {
  transform: translateX(0%);
}

.nav-toggle {
  display: none;
}

.menu-link {
  list-style-type: none;
}

.menu-link a {
  color: var(--clr-text-primary, white);
  text-decoration: none;
}

header ul {
  font-size: 18px;
  font-weight: 700;
}

.inactive-link a {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.inactive-link a:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

svg {
  width: 100%;
  height: auto;
}

@media (max-width: 780px) {
  .header-logo {
    height: 50px;
    position: fixed;
    top: 2rem;
    left: 1rem;
    margin: 0;
    display: flex;
  }

  .header-logo svg {
    width: 150px;
    align-content: center;
  }

  .header-logo-shrinked {
    height: 50px;
    top: 2rem;
    left: 1rem;
    margin: 0;
    display: flex;
  }

  .header-logo-shrinked svg {
    width: 150px;
    align-content: center;
  }

  header ul {
    position: fixed;
    inset: 0 0 0 0;
    background-color: var(--clr-accent);
    z-index: 998;
    flex-direction: column;
    padding: 32px 20px;
    justify-content: end;
    gap: 20px;
    font-size: 54px;
    font-weight: 500;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  header {
    top: 2rem;
    right: 2rem;
  }

  .nav-toggle {
    display: block;
    position: fixed;
    z-index: 999;
    background-color: transparent;
    top: 2rem;
    right: 1rem;
    font-size: 16px;
    height: 50px;
    padding: 0 30px;
    border-radius: 32px;
    border: var(--clr-text-primary) 1px solid;
  }
}

/* ========================= Footer ======================== */

.footer {
  width: 100%;
  background-color: var(--clr-bg-bento-light);

  & .footer-content {
    max-width: var(--content-max-width);
    margin-inline: auto;
    padding: 6rem 2rem 2rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    & .divider {
      width: 100%;
      height: 2px;
      background-color: var(--clr-accent);
      border-radius: 50%;
      margin: 2rem 0;
    }

    & .email-btn {
      padding-bottom: 120px;

      & a {
        background-color: var(--clr-bg-bento-dark);
        color: var(--clr-bg-bento-light);
        padding: 1rem 2rem;
        border-radius: 16px;
        font-size: 18px;
        font-weight: 500;
      }
    }

    & .main-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 20px;

      & h4 {
        color: var(--clr-accent);
        font-size: 14px;
      }

      & p,
      a {
        font-size: 18px;
        font-weight: 400;
        color: var(--clr-text-secondary);
      }

      & .divider {
        display: none;
      }

      & .left {
        width: 50%;
        display: flex;
        justify-content: space-between;
      }

      & .right {
        & .links {
          display: flex;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .footer .footer-content {
    padding: 6rem 1rem 2rem 1rem;
    height: 100%;
  }

  .main-footer {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .main-footer .divider {
    display: block !important;
    margin: 8px 0 !important;
  }

  .left {
    width: 100% !important;
  }
}

@media (max-height: 575px) {
  .footer {
    height: 80vh;
  }
}
